<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Your U-Learn Results!</title>
  <style>
      body {
          background-color: rgba(255, 128, 81, 0.2);
          font-family: 'Open Sans', sans-serif;
          margin: 0;
      }

      table {
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px lightgray;
          margin: auto auto;
          display: table;
          width: 580px;
          height: 100%;
          padding: 10px 10px 10px 10px;
      }

      .content {
          display: block;
          margin: 50px auto !important;
          /* makes it centered */
          max-width: 600px;
          width: 100%;
      }

      h1 {
          margin: 0;
      }

      a {
          border-radius: 20px;
          transition: all 0.3s ease-in-out;
      }

      a:hover {
          background-color: #333;
          color: white;
          cursor: pointer;
      }
  </style>
</head>
<body>
<div class="content">
  <table>
    <tr>
      <td style="padding: 20px; width: 100px; height: 100px; ">
        <img src="https://ulearn-bucket.s3.amazonaws.com/assets/logo.png" alt="U-learn Logo" width="100" height="100">
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 20px 0 20px;">
        <h1 style="font-size: 24px; color: #333; text-align: center;"><%= @title %> Results!</h1>
        <p style="font-size: 16px; color: #555; line-height: 1.5; padding: 0 20px 0 20px;">
          You just completed a demo session on U-Learn!.<br/>
          Your score was:
        </p>
        <p style="font-size: 36px; color: #333; padding: 0 20px 0 20px;">
          <strong><%= @score %></strong>
        </p>
        <p style="font-size: 16px; text-align: center;">
          Enjoyed that demo? Sign up for a U-Learn account to access even more content!
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 20px 20px 20px;">
        <p style="text-align: center;">
          <a href="<%= ENV['HOST_URL'] %>/complete-registration?pass_token=<%= @pass_token %>w" style="display: inline-block; padding: 12px 20px; background-color: #ff8051; color: #fff; text-decoration: none;">Sign Up</a>
        </p>
      </td>
    </tr>
  </table>
</div>
<p style="font-size: 14px; color: #999; line-height: 1.5; padding: 10px; text-align: center">
  Copyright © 2023 L'Operateur Ltd. Nigeria
</p>
</body>
</html>
