<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
  <h1>Verify your email <%= @email %>, for U-Learn</h1>
  <p>
    Your otp is: <%= @otp %>.<br>
  </p>
</body>
</html>