<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>U-Learn Test Close Notification!</title>
  <style>
      body {
          background-color: rgba(255, 128, 81, 0.2);
          font-family: 'Open Sans', sans-serif;
          margin: 0;
      }

      table {
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px lightgray;
          margin: auto auto;
          display: table;
          width: 580px;
          height: 100%;
          padding: 10px 10px 10px 10px;
      }

      .content {
          display: block;
          margin: 50px auto !important;
          /* makes it centered */
          max-width: 600px;
          width: 100%;
      }

      h1 {
          margin: 0;
      }

      a {
          border-radius: 20px;
          transition: all 0.3s ease-in-out;
      }

      a:hover {
          background-color: #333;
          color: white;
          cursor: pointer;
      }
  </style>
</head>
<body>
<div class="content">
  <table>
    <tr>
      <td style="padding: 20px; width: 100px; height: 100px; ">
        <img src="https://ulearn-bucket.s3.amazonaws.com/assets/logo.png" alt="U-learn Logo" width="100" height="100">
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 20px 0 20px;">
        <h1 style="font-size: 24px; color: #333; text-align: center;">'<%= @title %>' can now be Closed!</h1>
        <p style="font-size: 16px; color: #555; line-height: 1.5; padding: 20px;">
          Your test, '<%= @title %>' is done and you can now close it.
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 20px 20px 20px;">
        <p style="text-align: center;">
          <a href="<%= ENV['HOST_URL'] %>/tests/<%= @course_id %>/submissions" style="display: inline-block; padding: 12px 20px; background-color: #ff8051; color: #fff; text-decoration: none;">View Test</a>
        </p>
      </td>
    </tr>
  </table>
  <p style="font-size: 14px; color: #999; line-height: 1.5; padding: 10px; text-align: center">
    Copyright © 2023 L'Operateur Ltd. Nigeria
  </p>
</div>
</body>
</html>
